<!DOCTYPE html>
<html>
<head>
    <%= include header.ejs %>
</head>
<body>
<div class="container-fluid">
<%= include navigation.ejs %>


    <h1><%= properties.title %></h1>

    <table class="table">
    <% for (var propertyName in properties) { %>
        <tr><td><%= propertyName %></td><td><%= properties[propertyName] %></td></tr>
    <% } %>
    </table>
    <a href="<%= apiUrl %>">
        JSON
    </a>
    <%= include footer.ejs %>
</div>
</body>
</html>
