<!DOCTYPE html>
<html>
<head>
    <title><%= properties.title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container-fluid">
<%= include header.ejs %>


    <h1><%= properties.title %></h1>

    <table class="table">
    <% for (var propertyName in properties) { %>
        <tr><td><%= propertyName %></td><td><%= properties[propertyName] %></td></tr>
    <% } %>
    </table>
    <a href="<%= apiUrl %>">
        JSON
    </a>
</div>
</body>
</html>
