<!DOCTYPE html>
<html>
<head>
    <title>isbncollector</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css ' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<%= include header.ejs %>
<p>page: <%= page %></p>
<% if (previousPage) { %>
<a href="/list?page=<%= previousPage %>">Previous</a>
<% } %>
<a href="/list?page=<%= nextPage %>">Next</a>

<ul>
<% for (var i = 0; i < books.length; i++) { %>
<li class="book">
    <% var isbn = books[i].isbn10 || books[i].isbn13 %>
    <a href="/book?isbn=<%= isbn %>"><%= books[i].isbn10 || books[i].isbn13 %>: <%= books[i].title %></a>
</li>
<% } %>
</ul>
</body>
</html>
